img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
} 

h4{
    padding: 10px;
}

.switchInformation{
    font-family: 'Poiret One', cursive;
    font-size: 16px;
    padding: 10px;
    font-weight: bolder;
}


.switchContainer{
    display: inline-block;
    margin: 5px;
    width: 330px ;
    height: 750px;
    background-color:rgb(193, 179, 233);
    align-items: center;
    border: solid 1px black;
    
}

#displaySwitches{
    display: inline-block;
    margin-left: 30px;
}

#switchesHeader{
    font-size: 25px;
}

#switchTitle{
    font-size: 20px;
}