img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
} 

h3{
    padding: 10px;
}

p{
    font-family: 'Pacifico', cursive;
    font-size: 14px;
    padding: 10px;
}

.indPost{
    display: inline-block;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:rgb(185, 200, 214);
    
}

.editBtns{
    margin: 10px;
}

#deleteBtn{
    margin: 5px;
}
#saveBtn{
    margin: 10px;
}

input{
    display: block;
}

textarea{
    display: block;
    width: 200px;
    height: 200px;
    margin: 5px;
}

label{
    margin: 5px;
}