img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
} 

h3{
    padding: 10px;
}

#myHeading{
    font-family: 'Bungee Hairline', cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    padding: 5px;
    margin: 0;
}

.indPost{
    display: inline-block;
    width: 400px;
    height: 600px;
    margin-top: 5px;
    border: solid 1px black;
    margin: 5px;
    background-color:rgb(216, 224, 232);
    
}

.editBtns{
    margin: 10px;
}

.myPostContainer{
    margin-left: 250px;
}

.myPostTitles{
    font-size: 25px;
}

.myPostDescription,.myPostPrice{
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    font-weight: bold;

}

#deleteBtn{
    margin: 5px;
}

#saveBtn{
    margin: 10px;
}



#editForm{
    margin-left: 5px;
    border: solid 1px black;
    width: 500px;
    height: 650px;
    background-color: rgb(223, 213, 235);
}

#editFields{
    margin-left: 20px;
    width: 400px;
    height: 400px;
    margin-top: 5px;
    background-color:rgb(198, 189, 208);
}

#saveBtn{
    margin-left: 350px;
}

#EditFormHeader{
    margin-left: 20px;
}