#formContainer{
    padding: 40px;
    height: 900px;
    width: 600px;
    margin-top: 0px;
    margin-left: 300px;
    background-color: rgb(171, 157, 190);
}

#formBtns{
    margin-top: 50px;
    margin-left: 300px;
    display: inline-block;

}

form{
    border: none 1px black;
    background-color: rgb(229, 215, 248);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
}


