img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
} 


#postDescription{
    font-family: 'Poiret One', cursive;
    font-weight: bold; 
    font-size: 18px;
    padding: 10px;
    margin-left: 5px;
}

#indPost{
    display: inline-block;
    width: 400px;
    height: 600px;
    margin-top: 5px;
    border: solid 1px black;
    margin: 5px;
    background-color:rgb(236, 219, 248);
}

#postTitle{
    margin-left: 10px;
}
