#marketHeader{
    margin-left: 2px;
    font-size: 50px;
}

#CreateBtn{
    margin-left: 800px;
    margin-bottom: 20px;
}


#MarketContainer{
    display: inline-block;
    margin-left: 100px;
}

#ListingsContainer{
    margin-top: 50px;
}
